{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "20"
      },
      "modules": "commonjs"
    }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["add-module-exports", {
      "addDefaultProperty": true
    }]
  ]
}
