name: CI

on:
  push:
    branches: [main]
  pull_request: {}

permissions:
  contents: read

jobs:

  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20, 22, 24, 25]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - name: Prepare
        run: npm ci
      - name: Lint
        run: npm run lint
      - name: Unit Tests
        run: npm run unittest

  release:
    name: Release Check
    runs-on: ubuntu-latest
    needs: test
    if: github.event_name == 'push'
    permissions:
      id-token: write # to enable use of OIDC for trusted publishing and npm provenance
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version-file: .nvmrc
          cache: npm
      - name: Prepare
        run: npm ci
      - name: Release Check
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ github.token }}
